<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <p class="title bold ">Plataformas</p>
            <p>Assine nossos episódios e não perca nenhuma novidade!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex pt-3">
                <div class="plataform d-flex justify-content-center align-items-center">
                    <a><img src="/assets/images/twitch.svg" alt="Twitch"></a>
                </div>
                <div class="plataform d-flex justify-content-center align-items-center">
                    <a><img src="/assets/images/youtube.svg" alt="Youtube"></a>
                </div>
                <div class="plataform d-flex justify-content-center align-items-center">
                    <a><img src="/assets/images/deezer.svg" alt="Deezer"></a>
                </div>
                <div class="plataform d-flex justify-content-center align-items-center">
                    <a><img src="/assets/images/spotify.svg" alt="Spotify"></a>
                </div>
                <div class="plataform d-flex justify-content-center align-items-center">
                    <a><img src="/assets/images/google.svg" alt="Google Podcast"></a>
                </div>
                <div class="plataform d-flex justify-content-center align-items-center">
                    <a><img src="/assets/images/apple.svg" alt="Apple Podcast"></a>
                </div>
            </div>
        </div>
    </div>
</div>