<div class="container-fluid" style="background-color: #ffbe00;">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <p class="title bold">
                    Sobre
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione ipsam fugiat enim quasi, cumque
                officiis tempore, harum architecto veniam id laborum impedit modi atque. Vero reprehenderit distinctio
                officiis impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione ipsam fugiat enim quasi, cumque
                officiis tempore, harum architecto veniam id laborum impedit modi atque. Vero reprehenderit distinctio
                officiis impedit!
            </div>
            <div class="col-md-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione ipsam fugiat enim quasi, cumque
                officiis tempore, harum architecto veniam id laborum impedit modi atque. Vero reprehenderit distinctio
                officiis impedit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione ipsam fugiat enim quasi, cumque
                officiis tempore, harum architecto veniam id laborum impedit modi atque. Vero reprehenderit distinctio
                officiis impedit!
            </div>
        </div>
    </div>
</div>